/*
CDR Energy API

Specifications for resource endpoints applicable to data holders in the Energy sector.

API version: 1.34.1
Contact: contact@dsb.gov.au
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EnergyPlansAPIService EnergyPlansAPI service
type EnergyPlansAPIService service

type ApiGetEnergyPlanDetailRequest struct {
	ctx context.Context
	ApiService *EnergyPlansAPIService
	planId string
	xV *string
	xMinV *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiGetEnergyPlanDetailRequest) XV(xV string) ApiGetEnergyPlanDetailRequest {
	r.xV = &xV
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiGetEnergyPlanDetailRequest) XMinV(xMinV string) ApiGetEnergyPlanDetailRequest {
	r.xMinV = &xMinV
	return r
}

func (r ApiGetEnergyPlanDetailRequest) Execute() (*EnergyPlanResponseV3, *http.Response, error) {
	return r.ApiService.GetEnergyPlanDetailExecute(r)
}

/*
GetEnergyPlanDetail Get Generic Plan Detail

Obtain detailed information on a single energy plan offered openly to the market.

Other Versions: [v1](includes/obsolete/get-generic-plan-detail-v1.html), [v2](includes/obsolete/get-generic-plan-detail-v2.html).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param planId ID of the specific plan requested.
 @return ApiGetEnergyPlanDetailRequest
*/
func (a *EnergyPlansAPIService) GetEnergyPlanDetail(ctx context.Context, planId string) ApiGetEnergyPlanDetailRequest {
	return ApiGetEnergyPlanDetailRequest{
		ApiService: a,
		ctx: ctx,
		planId: planId,
	}
}

// Execute executes the request
//  @return EnergyPlanResponseV3
func (a *EnergyPlansAPIService) GetEnergyPlanDetailExecute(r ApiGetEnergyPlanDetailRequest) (*EnergyPlanResponseV3, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyPlanResponseV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyPlansAPIService.GetEnergyPlanDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/plans/{planId}"
	localVarPath = strings.Replace(localVarPath, "{"+"planId"+"}", url.PathEscape(parameterValueToString(r.planId, "planId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEnergyPlansRequest struct {
	ctx context.Context
	ApiService *EnergyPlansAPIService
	xV *string
	type_ *string
	fuelType *string
	effective *string
	updatedSince *string
	brand *string
	page *int32
	pageSize *int32
	xMinV *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListEnergyPlansRequest) XV(xV string) ApiListEnergyPlansRequest {
	r.xV = &xV
	return r
}

// Used to filter results on the _type_ field. Any one of the valid values for this field can be supplied plus &#x60;ALL&#x60;. If absent defaults to &#x60;ALL&#x60;.
func (r ApiListEnergyPlansRequest) Type_(type_ string) ApiListEnergyPlansRequest {
	r.type_ = &type_
	return r
}

// Used to filter results on the _fuelType_ field. Any one of the valid values for this field can be supplied plus &#x60;ALL&#x60;. If absent defaults to &#x60;ALL&#x60;.
func (r ApiListEnergyPlansRequest) FuelType(fuelType string) ApiListEnergyPlansRequest {
	r.fuelType = &fuelType
	return r
}

// Allows for the filtering of plans based on whether the current time is within the period of time defined as effective by the _effectiveFrom_ and _effectiveTo_ fields. Valid values are &#x60;CURRENT&#x60;, &#x60;FUTURE&#x60; and &#x60;ALL&#x60;. If absent defaults to &#x60;CURRENT&#x60;.
func (r ApiListEnergyPlansRequest) Effective(effective string) ApiListEnergyPlansRequest {
	r.effective = &effective
	return r
}

// Only include plans that have been updated after the specified date and time. If absent defaults to include all plans.
func (r ApiListEnergyPlansRequest) UpdatedSince(updatedSince string) ApiListEnergyPlansRequest {
	r.updatedSince = &updatedSince
	return r
}

// Used to filter results on the _brand_ field. If absent defaults to include all plans.
func (r ApiListEnergyPlansRequest) Brand(brand string) ApiListEnergyPlansRequest {
	r.brand = &brand
	return r
}

// Page of results to request (standard pagination).
func (r ApiListEnergyPlansRequest) Page(page int32) ApiListEnergyPlansRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListEnergyPlansRequest) PageSize(pageSize int32) ApiListEnergyPlansRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListEnergyPlansRequest) XMinV(xMinV string) ApiListEnergyPlansRequest {
	r.xMinV = &xMinV
	return r
}

func (r ApiListEnergyPlansRequest) Execute() (*EnergyPlanListResponse, *http.Response, error) {
	return r.ApiService.ListEnergyPlansExecute(r)
}

/*
ListEnergyPlans Get Generic Plans

Obtain a list of energy plans that are currently offered to the market.

Note that the results returned by this endpoint are expected to be ordered in descending order according to _lastUpdated_.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListEnergyPlansRequest
*/
func (a *EnergyPlansAPIService) ListEnergyPlans(ctx context.Context) ApiListEnergyPlansRequest {
	return ApiListEnergyPlansRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyPlanListResponse
func (a *EnergyPlansAPIService) ListEnergyPlansExecute(r ApiListEnergyPlansRequest) (*EnergyPlanListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyPlanListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyPlansAPIService.ListEnergyPlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	} else {
		var defaultValue string = "ALL"
		r.type_ = &defaultValue
	}
	if r.fuelType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fuelType", r.fuelType, "form", "")
	} else {
		var defaultValue string = "ALL"
		r.fuelType = &defaultValue
	}
	if r.effective != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effective", r.effective, "form", "")
	} else {
		var defaultValue string = "CURRENT"
		r.effective = &defaultValue
	}
	if r.updatedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated-since", r.updatedSince, "form", "")
	}
	if r.brand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brand", r.brand, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
