/*
CDR Energy API

Specifications for resource endpoints applicable to data holders in the Energy sector.

API version: 1.34.1
Contact: contact@dsb.gov.au
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EnergyAccountBalancesAPIService EnergyAccountBalancesAPI service
type EnergyAccountBalancesAPIService service

type ApiGetEnergyAccountBalanceRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBalancesAPIService
	accountId string
	xV *string
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiGetEnergyAccountBalanceRequest) XV(xV string) ApiGetEnergyAccountBalanceRequest {
	r.xV = &xV
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiGetEnergyAccountBalanceRequest) XMinV(xMinV string) ApiGetEnergyAccountBalanceRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiGetEnergyAccountBalanceRequest) XFapiInteractionId(xFapiInteractionId string) ApiGetEnergyAccountBalanceRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiGetEnergyAccountBalanceRequest) XFapiAuthDate(xFapiAuthDate string) ApiGetEnergyAccountBalanceRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiGetEnergyAccountBalanceRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiGetEnergyAccountBalanceRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiGetEnergyAccountBalanceRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiGetEnergyAccountBalanceRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiGetEnergyAccountBalanceRequest) Execute() (*EnergyBalanceResponse, *http.Response, error) {
	return r.ApiService.GetEnergyAccountBalanceExecute(r)
}

/*
GetEnergyAccountBalance Get Balance For Energy Account

Obtain the current balance for a specific account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The _accountId_ to obtain data for. _accountId_ values are returned by account list endpoints.
 @return ApiGetEnergyAccountBalanceRequest
*/
func (a *EnergyAccountBalancesAPIService) GetEnergyAccountBalance(ctx context.Context, accountId string) ApiGetEnergyAccountBalanceRequest {
	return ApiGetEnergyAccountBalanceRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return EnergyBalanceResponse
func (a *EnergyAccountBalancesAPIService) GetEnergyAccountBalanceExecute(r ApiGetEnergyAccountBalanceRequest) (*EnergyBalanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyBalanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBalancesAPIService.GetEnergyAccountBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/{accountId}/balance"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEnergyAccountBalancesBulkRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBalancesAPIService
	xV *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListEnergyAccountBalancesBulkRequest) XV(xV string) ApiListEnergyAccountBalancesBulkRequest {
	r.xV = &xV
	return r
}

// Page of results to request (standard pagination).
func (r ApiListEnergyAccountBalancesBulkRequest) Page(page int32) ApiListEnergyAccountBalancesBulkRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListEnergyAccountBalancesBulkRequest) PageSize(pageSize int32) ApiListEnergyAccountBalancesBulkRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListEnergyAccountBalancesBulkRequest) XMinV(xMinV string) ApiListEnergyAccountBalancesBulkRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListEnergyAccountBalancesBulkRequest) XFapiInteractionId(xFapiInteractionId string) ApiListEnergyAccountBalancesBulkRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListEnergyAccountBalancesBulkRequest) XFapiAuthDate(xFapiAuthDate string) ApiListEnergyAccountBalancesBulkRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListEnergyAccountBalancesBulkRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListEnergyAccountBalancesBulkRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListEnergyAccountBalancesBulkRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListEnergyAccountBalancesBulkRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListEnergyAccountBalancesBulkRequest) Execute() (*EnergyBalanceListResponse, *http.Response, error) {
	return r.ApiService.ListEnergyAccountBalancesBulkExecute(r)
}

/*
ListEnergyAccountBalancesBulk Get Bulk Balances for Energy

Obtain the current balance for all accounts.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListEnergyAccountBalancesBulkRequest
*/
func (a *EnergyAccountBalancesAPIService) ListEnergyAccountBalancesBulk(ctx context.Context) ApiListEnergyAccountBalancesBulkRequest {
	return ApiListEnergyAccountBalancesBulkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyBalanceListResponse
func (a *EnergyAccountBalancesAPIService) ListEnergyAccountBalancesBulkExecute(r ApiListEnergyAccountBalancesBulkRequest) (*EnergyBalanceListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyBalanceListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBalancesAPIService.ListEnergyAccountBalancesBulk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/balances"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEnergyAccountBalancesSpecificAccountsRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBalancesAPIService
	xV *string
	requestAccountIdListV1 *RequestAccountIdListV1
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) XV(xV string) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.xV = &xV
	return r
}

// Request payload containing a list of _accountId_ values to obtain data for.
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) RequestAccountIdListV1(requestAccountIdListV1 RequestAccountIdListV1) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.requestAccountIdListV1 = &requestAccountIdListV1
	return r
}

// Page of results to request (standard pagination).
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) Page(page int32) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) PageSize(pageSize int32) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) XMinV(xMinV string) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) XFapiInteractionId(xFapiInteractionId string) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) XFapiAuthDate(xFapiAuthDate string) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListEnergyAccountBalancesSpecificAccountsRequest) Execute() (*EnergyBalanceListResponse, *http.Response, error) {
	return r.ApiService.ListEnergyAccountBalancesSpecificAccountsExecute(r)
}

/*
ListEnergyAccountBalancesSpecificAccounts Get Balances For Specific Energy Accounts

Obtain the current balance for a specified set of accounts.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListEnergyAccountBalancesSpecificAccountsRequest
*/
func (a *EnergyAccountBalancesAPIService) ListEnergyAccountBalancesSpecificAccounts(ctx context.Context) ApiListEnergyAccountBalancesSpecificAccountsRequest {
	return ApiListEnergyAccountBalancesSpecificAccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyBalanceListResponse
func (a *EnergyAccountBalancesAPIService) ListEnergyAccountBalancesSpecificAccountsExecute(r ApiListEnergyAccountBalancesSpecificAccountsRequest) (*EnergyBalanceListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyBalanceListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBalancesAPIService.ListEnergyAccountBalancesSpecificAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/balances"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}
	if r.requestAccountIdListV1 == nil {
		return localVarReturnValue, nil, reportError("requestAccountIdListV1 is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	// body params
	localVarPostBody = r.requestAccountIdListV1
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
