/*
CDR Energy API

Specifications for resource endpoints applicable to data holders in the Energy sector.

API version: 1.34.1
Contact: contact@dsb.gov.au
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ElectricityServicePointsAPIService ElectricityServicePointsAPI service
type ElectricityServicePointsAPIService service

type ApiGetElectricityServicePointDetailRequest struct {
	ctx context.Context
	ApiService *ElectricityServicePointsAPIService
	servicePointId string
	xV *string
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiGetElectricityServicePointDetailRequest) XV(xV string) ApiGetElectricityServicePointDetailRequest {
	r.xV = &xV
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiGetElectricityServicePointDetailRequest) XMinV(xMinV string) ApiGetElectricityServicePointDetailRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiGetElectricityServicePointDetailRequest) XFapiInteractionId(xFapiInteractionId string) ApiGetElectricityServicePointDetailRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiGetElectricityServicePointDetailRequest) XFapiAuthDate(xFapiAuthDate string) ApiGetElectricityServicePointDetailRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiGetElectricityServicePointDetailRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiGetElectricityServicePointDetailRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiGetElectricityServicePointDetailRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiGetElectricityServicePointDetailRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiGetElectricityServicePointDetailRequest) Execute() (*EnergyServicePointDetailResponseV2, *http.Response, error) {
	return r.ApiService.GetElectricityServicePointDetailExecute(r)
}

/*
GetElectricityServicePointDetail Get Service Point Detail

Obtain detailed standing information for a specific service point that is owned by the customer that has authorised the current session.

Other Versions: [v1](includes/obsolete/get-service-point-detail-v1.html).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePointId The _servicePointId_ to obtain data for. _servicePointId_ values are returned by service point list endpoints. Note that it is not a _nationalMeteringId_.
 @return ApiGetElectricityServicePointDetailRequest
*/
func (a *ElectricityServicePointsAPIService) GetElectricityServicePointDetail(ctx context.Context, servicePointId string) ApiGetElectricityServicePointDetailRequest {
	return ApiGetElectricityServicePointDetailRequest{
		ApiService: a,
		ctx: ctx,
		servicePointId: servicePointId,
	}
}

// Execute executes the request
//  @return EnergyServicePointDetailResponseV2
func (a *ElectricityServicePointsAPIService) GetElectricityServicePointDetailExecute(r ApiGetElectricityServicePointDetailRequest) (*EnergyServicePointDetailResponseV2, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyServicePointDetailResponseV2
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectricityServicePointsAPIService.GetElectricityServicePointDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/electricity/servicepoints/{servicePointId}"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePointId"+"}", url.PathEscape(parameterValueToString(r.servicePointId, "servicePointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListElectricityServicePointsRequest struct {
	ctx context.Context
	ApiService *ElectricityServicePointsAPIService
	xV *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListElectricityServicePointsRequest) XV(xV string) ApiListElectricityServicePointsRequest {
	r.xV = &xV
	return r
}

// Page of results to request (standard pagination).
func (r ApiListElectricityServicePointsRequest) Page(page int32) ApiListElectricityServicePointsRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListElectricityServicePointsRequest) PageSize(pageSize int32) ApiListElectricityServicePointsRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListElectricityServicePointsRequest) XMinV(xMinV string) ApiListElectricityServicePointsRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListElectricityServicePointsRequest) XFapiInteractionId(xFapiInteractionId string) ApiListElectricityServicePointsRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListElectricityServicePointsRequest) XFapiAuthDate(xFapiAuthDate string) ApiListElectricityServicePointsRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListElectricityServicePointsRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListElectricityServicePointsRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListElectricityServicePointsRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListElectricityServicePointsRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListElectricityServicePointsRequest) Execute() (*EnergyServicePointListResponseV2, *http.Response, error) {
	return r.ApiService.ListElectricityServicePointsExecute(r)
}

/*
ListElectricityServicePoints Get Service Points

Obtain a list of service points owned by the customer that has authorised the current session.

Other Versions: [v1](includes/obsolete/get-service-points-v1.html).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListElectricityServicePointsRequest
*/
func (a *ElectricityServicePointsAPIService) ListElectricityServicePoints(ctx context.Context) ApiListElectricityServicePointsRequest {
	return ApiListElectricityServicePointsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyServicePointListResponseV2
func (a *ElectricityServicePointsAPIService) ListElectricityServicePointsExecute(r ApiListElectricityServicePointsRequest) (*EnergyServicePointListResponseV2, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyServicePointListResponseV2
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectricityServicePointsAPIService.ListElectricityServicePoints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/electricity/servicepoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
