/*
CDR Energy API

Specifications for resource endpoints applicable to data holders in the Energy sector.

API version: 1.34.1
Contact: contact@dsb.gov.au
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EnergyAccountBillingAPIService EnergyAccountBillingAPI service
type EnergyAccountBillingAPIService service

type ApiGetBillingForEnergyAccountRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBillingAPIService
	accountId string
	xV *string
	newestTime *string
	oldestTime *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiGetBillingForEnergyAccountRequest) XV(xV string) ApiGetBillingForEnergyAccountRequest {
	r.xV = &xV
	return r
}

// Constrain the request to records with effective time at or before this date/time. If absent defaults to current date/time. Format is aligned to DateTimeString common type.
func (r ApiGetBillingForEnergyAccountRequest) NewestTime(newestTime string) ApiGetBillingForEnergyAccountRequest {
	r.newestTime = &newestTime
	return r
}

// Constrain the request to records with effective time at or after this date/time. If absent defaults to _newest-time_ minus 12 months. Format is aligned to DateTimeString common type.
func (r ApiGetBillingForEnergyAccountRequest) OldestTime(oldestTime string) ApiGetBillingForEnergyAccountRequest {
	r.oldestTime = &oldestTime
	return r
}

// Page of results to request (standard pagination).
func (r ApiGetBillingForEnergyAccountRequest) Page(page int32) ApiGetBillingForEnergyAccountRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiGetBillingForEnergyAccountRequest) PageSize(pageSize int32) ApiGetBillingForEnergyAccountRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiGetBillingForEnergyAccountRequest) XMinV(xMinV string) ApiGetBillingForEnergyAccountRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiGetBillingForEnergyAccountRequest) XFapiInteractionId(xFapiInteractionId string) ApiGetBillingForEnergyAccountRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiGetBillingForEnergyAccountRequest) XFapiAuthDate(xFapiAuthDate string) ApiGetBillingForEnergyAccountRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiGetBillingForEnergyAccountRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiGetBillingForEnergyAccountRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiGetBillingForEnergyAccountRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiGetBillingForEnergyAccountRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiGetBillingForEnergyAccountRequest) Execute() (*EnergyBillingListResponseV3, *http.Response, error) {
	return r.ApiService.GetBillingForEnergyAccountExecute(r)
}

/*
GetBillingForEnergyAccount Get Billing For Account

Obtain the billing transactions for a specific account.

Deprecated Versions: 

- [v1](includes/obsolete/get-billing-for-account-v1.html) - This version is to be ceased to be called by data recipients by September 9th 2024 and **MAY** be decommissioned by data holders as of that date 
- [v2](includes/obsolete/get-billing-for-account-v2.html) - This version **MAY** be retired by September 9th 2024 if v3 is implemented.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The _accountId_ to obtain data for. _accountId_ values are returned by account list endpoints.
 @return ApiGetBillingForEnergyAccountRequest
*/
func (a *EnergyAccountBillingAPIService) GetBillingForEnergyAccount(ctx context.Context, accountId string) ApiGetBillingForEnergyAccountRequest {
	return ApiGetBillingForEnergyAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return EnergyBillingListResponseV3
func (a *EnergyAccountBillingAPIService) GetBillingForEnergyAccountExecute(r ApiGetBillingForEnergyAccountRequest) (*EnergyBillingListResponseV3, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyBillingListResponseV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBillingAPIService.GetBillingForEnergyAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/{accountId}/billing"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.newestTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-time", r.newestTime, "form", "")
	}
	if r.oldestTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-time", r.oldestTime, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetEnergyAccountInvoicesRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBillingAPIService
	accountId string
	xV *string
	newestDate *string
	oldestDate *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiGetEnergyAccountInvoicesRequest) XV(xV string) ApiGetEnergyAccountInvoicesRequest {
	r.xV = &xV
	return r
}

// Constrain the request to records with issue date at or before this date. If absent defaults to current date. Format is aligned to DateString common type.
func (r ApiGetEnergyAccountInvoicesRequest) NewestDate(newestDate string) ApiGetEnergyAccountInvoicesRequest {
	r.newestDate = &newestDate
	return r
}

// Constrain the request to records with issue date at or after this date. If absent defaults to _newest-date_ minus 24 months. Format is aligned to DateString common type.
func (r ApiGetEnergyAccountInvoicesRequest) OldestDate(oldestDate string) ApiGetEnergyAccountInvoicesRequest {
	r.oldestDate = &oldestDate
	return r
}

// Page of results to request (standard pagination).
func (r ApiGetEnergyAccountInvoicesRequest) Page(page int32) ApiGetEnergyAccountInvoicesRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiGetEnergyAccountInvoicesRequest) PageSize(pageSize int32) ApiGetEnergyAccountInvoicesRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiGetEnergyAccountInvoicesRequest) XMinV(xMinV string) ApiGetEnergyAccountInvoicesRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiGetEnergyAccountInvoicesRequest) XFapiInteractionId(xFapiInteractionId string) ApiGetEnergyAccountInvoicesRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiGetEnergyAccountInvoicesRequest) XFapiAuthDate(xFapiAuthDate string) ApiGetEnergyAccountInvoicesRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiGetEnergyAccountInvoicesRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiGetEnergyAccountInvoicesRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiGetEnergyAccountInvoicesRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiGetEnergyAccountInvoicesRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiGetEnergyAccountInvoicesRequest) Execute() (*EnergyInvoiceListResponse, *http.Response, error) {
	return r.ApiService.GetEnergyAccountInvoicesExecute(r)
}

/*
GetEnergyAccountInvoices Get Invoices For Account

Obtain the invoices for a specific account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountId The _accountId_ to obtain data for. _accountId_ values are returned by account list endpoints.
 @return ApiGetEnergyAccountInvoicesRequest
*/
func (a *EnergyAccountBillingAPIService) GetEnergyAccountInvoices(ctx context.Context, accountId string) ApiGetEnergyAccountInvoicesRequest {
	return ApiGetEnergyAccountInvoicesRequest{
		ApiService: a,
		ctx: ctx,
		accountId: accountId,
	}
}

// Execute executes the request
//  @return EnergyInvoiceListResponse
func (a *EnergyAccountBillingAPIService) GetEnergyAccountInvoicesExecute(r ApiGetEnergyAccountInvoicesRequest) (*EnergyInvoiceListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyInvoiceListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBillingAPIService.GetEnergyAccountInvoices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/{accountId}/invoices"
	localVarPath = strings.Replace(localVarPath, "{"+"accountId"+"}", url.PathEscape(parameterValueToString(r.accountId, "accountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.newestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-date", r.newestDate, "form", "")
	}
	if r.oldestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-date", r.oldestDate, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEnergyAccountBillingBulkRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBillingAPIService
	xV *string
	newestTime *string
	oldestTime *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListEnergyAccountBillingBulkRequest) XV(xV string) ApiListEnergyAccountBillingBulkRequest {
	r.xV = &xV
	return r
}

// Constrain the request to records with effective time at or before this date/time. If absent defaults to current date/time. Format is aligned to DateTimeString common type.
func (r ApiListEnergyAccountBillingBulkRequest) NewestTime(newestTime string) ApiListEnergyAccountBillingBulkRequest {
	r.newestTime = &newestTime
	return r
}

// Constrain the request to records with effective time at or after this date/time. If absent defaults to _newest-time_ minus 12 months. Format is aligned to DateTimeString common type.
func (r ApiListEnergyAccountBillingBulkRequest) OldestTime(oldestTime string) ApiListEnergyAccountBillingBulkRequest {
	r.oldestTime = &oldestTime
	return r
}

// Page of results to request (standard pagination).
func (r ApiListEnergyAccountBillingBulkRequest) Page(page int32) ApiListEnergyAccountBillingBulkRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListEnergyAccountBillingBulkRequest) PageSize(pageSize int32) ApiListEnergyAccountBillingBulkRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListEnergyAccountBillingBulkRequest) XMinV(xMinV string) ApiListEnergyAccountBillingBulkRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListEnergyAccountBillingBulkRequest) XFapiInteractionId(xFapiInteractionId string) ApiListEnergyAccountBillingBulkRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListEnergyAccountBillingBulkRequest) XFapiAuthDate(xFapiAuthDate string) ApiListEnergyAccountBillingBulkRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListEnergyAccountBillingBulkRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListEnergyAccountBillingBulkRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListEnergyAccountBillingBulkRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListEnergyAccountBillingBulkRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListEnergyAccountBillingBulkRequest) Execute() (*EnergyBillingListResponseV3, *http.Response, error) {
	return r.ApiService.ListEnergyAccountBillingBulkExecute(r)
}

/*
ListEnergyAccountBillingBulk Get Bulk Billing

Obtain billing transactions for all accounts.

Deprecated Versions: 

- [v1](includes/obsolete/get-bulk-billing-v1.html) - This version is to be ceased to be called by data recipients by September 9th 2024 and **MAY** be decommissioned by data holders as of that date 
- [v2](includes/obsolete/get-bulk-billing-v2.html) - This version **MAY** be retired by September 9th 2024 if v3 is implemented.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListEnergyAccountBillingBulkRequest
*/
func (a *EnergyAccountBillingAPIService) ListEnergyAccountBillingBulk(ctx context.Context) ApiListEnergyAccountBillingBulkRequest {
	return ApiListEnergyAccountBillingBulkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyBillingListResponseV3
func (a *EnergyAccountBillingAPIService) ListEnergyAccountBillingBulkExecute(r ApiListEnergyAccountBillingBulkRequest) (*EnergyBillingListResponseV3, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyBillingListResponseV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBillingAPIService.ListEnergyAccountBillingBulk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/billing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.newestTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-time", r.newestTime, "form", "")
	}
	if r.oldestTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-time", r.oldestTime, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEnergyAccountBillingForSpecificAccountsRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBillingAPIService
	xV *string
	requestAccountIdListV1 *RequestAccountIdListV1
	newestTime *string
	oldestTime *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) XV(xV string) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.xV = &xV
	return r
}

// Request payload containing a list of _accountId_ values to obtain data for.
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) RequestAccountIdListV1(requestAccountIdListV1 RequestAccountIdListV1) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.requestAccountIdListV1 = &requestAccountIdListV1
	return r
}

// Constrain the request to records with effective time at or before this date/time. If absent defaults to current date/time. Format is aligned to DateTimeString common type.
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) NewestTime(newestTime string) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.newestTime = &newestTime
	return r
}

// Constrain the request to records with effective time at or after this date/time. If absent defaults to _newest-time_ minus 12 months. Format is aligned to DateTimeString common type.
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) OldestTime(oldestTime string) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.oldestTime = &oldestTime
	return r
}

// Page of results to request (standard pagination).
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) Page(page int32) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) PageSize(pageSize int32) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) XMinV(xMinV string) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) XFapiInteractionId(xFapiInteractionId string) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) XFapiAuthDate(xFapiAuthDate string) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListEnergyAccountBillingForSpecificAccountsRequest) Execute() (*EnergyBillingListResponseV3, *http.Response, error) {
	return r.ApiService.ListEnergyAccountBillingForSpecificAccountsExecute(r)
}

/*
ListEnergyAccountBillingForSpecificAccounts Get Billing For Specific Accounts

Obtain billing for a specified set of accounts.

Deprecated Versions: 

- [v1](includes/obsolete/get-billing-for-specific-accounts-v1.html) - This version is to be ceased to be called by data recipients by September 9th 2024 and **MAY** be decommissioned by data holders as of that date 
- [v2](includes/obsolete/get-billing-for-specific-accounts-v2.html) - This version **MAY** be retired by September 9th 2024 if v3 is implemented.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListEnergyAccountBillingForSpecificAccountsRequest
*/
func (a *EnergyAccountBillingAPIService) ListEnergyAccountBillingForSpecificAccounts(ctx context.Context) ApiListEnergyAccountBillingForSpecificAccountsRequest {
	return ApiListEnergyAccountBillingForSpecificAccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyBillingListResponseV3
func (a *EnergyAccountBillingAPIService) ListEnergyAccountBillingForSpecificAccountsExecute(r ApiListEnergyAccountBillingForSpecificAccountsRequest) (*EnergyBillingListResponseV3, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyBillingListResponseV3
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBillingAPIService.ListEnergyAccountBillingForSpecificAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/billing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}
	if r.requestAccountIdListV1 == nil {
		return localVarReturnValue, nil, reportError("requestAccountIdListV1 is required and must be specified")
	}

	if r.newestTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-time", r.newestTime, "form", "")
	}
	if r.oldestTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-time", r.oldestTime, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	// body params
	localVarPostBody = r.requestAccountIdListV1
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEnergyAccountInvoicesBulkRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBillingAPIService
	xV *string
	newestDate *string
	oldestDate *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListEnergyAccountInvoicesBulkRequest) XV(xV string) ApiListEnergyAccountInvoicesBulkRequest {
	r.xV = &xV
	return r
}

// Constrain the request to records with issue date at or before this date. If absent defaults to current date. Format is aligned to DateString common type.
func (r ApiListEnergyAccountInvoicesBulkRequest) NewestDate(newestDate string) ApiListEnergyAccountInvoicesBulkRequest {
	r.newestDate = &newestDate
	return r
}

// Constrain the request to records with issue date at or after this date. If absent defaults to _newest-date_ minus 24 months. Format is aligned to DateString common type.
func (r ApiListEnergyAccountInvoicesBulkRequest) OldestDate(oldestDate string) ApiListEnergyAccountInvoicesBulkRequest {
	r.oldestDate = &oldestDate
	return r
}

// Page of results to request (standard pagination).
func (r ApiListEnergyAccountInvoicesBulkRequest) Page(page int32) ApiListEnergyAccountInvoicesBulkRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListEnergyAccountInvoicesBulkRequest) PageSize(pageSize int32) ApiListEnergyAccountInvoicesBulkRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListEnergyAccountInvoicesBulkRequest) XMinV(xMinV string) ApiListEnergyAccountInvoicesBulkRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListEnergyAccountInvoicesBulkRequest) XFapiInteractionId(xFapiInteractionId string) ApiListEnergyAccountInvoicesBulkRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListEnergyAccountInvoicesBulkRequest) XFapiAuthDate(xFapiAuthDate string) ApiListEnergyAccountInvoicesBulkRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListEnergyAccountInvoicesBulkRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListEnergyAccountInvoicesBulkRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListEnergyAccountInvoicesBulkRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListEnergyAccountInvoicesBulkRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListEnergyAccountInvoicesBulkRequest) Execute() (*EnergyInvoiceListResponse, *http.Response, error) {
	return r.ApiService.ListEnergyAccountInvoicesBulkExecute(r)
}

/*
ListEnergyAccountInvoicesBulk Get Bulk Invoices

Obtain the invoices for all accounts.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListEnergyAccountInvoicesBulkRequest
*/
func (a *EnergyAccountBillingAPIService) ListEnergyAccountInvoicesBulk(ctx context.Context) ApiListEnergyAccountInvoicesBulkRequest {
	return ApiListEnergyAccountInvoicesBulkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyInvoiceListResponse
func (a *EnergyAccountBillingAPIService) ListEnergyAccountInvoicesBulkExecute(r ApiListEnergyAccountInvoicesBulkRequest) (*EnergyInvoiceListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyInvoiceListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBillingAPIService.ListEnergyAccountInvoicesBulk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.newestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-date", r.newestDate, "form", "")
	}
	if r.oldestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-date", r.oldestDate, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListEnergyInvoicesForSpecificAccountsRequest struct {
	ctx context.Context
	ApiService *EnergyAccountBillingAPIService
	xV *string
	requestAccountIdListV1 *RequestAccountIdListV1
	newestDate *string
	oldestDate *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) XV(xV string) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.xV = &xV
	return r
}

// Request payload containing a list of _accountId_ values to obtain data for.
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) RequestAccountIdListV1(requestAccountIdListV1 RequestAccountIdListV1) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.requestAccountIdListV1 = &requestAccountIdListV1
	return r
}

// Constrain the request to records with issue date at or before this date. If absent defaults to current date. Format is aligned to DateString common type.
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) NewestDate(newestDate string) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.newestDate = &newestDate
	return r
}

// Constrain the request to records with issue date at or after this date. If absent defaults to _newest-date_ minus 24 months. Format is aligned to DateString common type.
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) OldestDate(oldestDate string) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.oldestDate = &oldestDate
	return r
}

// Page of results to request (standard pagination).
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) Page(page int32) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) PageSize(pageSize int32) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) XMinV(xMinV string) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) XFapiInteractionId(xFapiInteractionId string) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) XFapiAuthDate(xFapiAuthDate string) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListEnergyInvoicesForSpecificAccountsRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListEnergyInvoicesForSpecificAccountsRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListEnergyInvoicesForSpecificAccountsRequest) Execute() (*EnergyInvoiceListResponse, *http.Response, error) {
	return r.ApiService.ListEnergyInvoicesForSpecificAccountsExecute(r)
}

/*
ListEnergyInvoicesForSpecificAccounts Get Invoices For Specific Accounts

Obtain invoices for a specified set of accounts.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListEnergyInvoicesForSpecificAccountsRequest
*/
func (a *EnergyAccountBillingAPIService) ListEnergyInvoicesForSpecificAccounts(ctx context.Context) ApiListEnergyInvoicesForSpecificAccountsRequest {
	return ApiListEnergyInvoicesForSpecificAccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyInvoiceListResponse
func (a *EnergyAccountBillingAPIService) ListEnergyInvoicesForSpecificAccountsExecute(r ApiListEnergyInvoicesForSpecificAccountsRequest) (*EnergyInvoiceListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyInvoiceListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnergyAccountBillingAPIService.ListEnergyInvoicesForSpecificAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/accounts/invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}
	if r.requestAccountIdListV1 == nil {
		return localVarReturnValue, nil, reportError("requestAccountIdListV1 is required and must be specified")
	}

	if r.newestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-date", r.newestDate, "form", "")
	}
	if r.oldestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-date", r.oldestDate, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	// body params
	localVarPostBody = r.requestAccountIdListV1
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
