/*
CDR Energy API

Specifications for resource endpoints applicable to data holders in the Energy sector.

API version: 1.34.1
Contact: contact@dsb.gov.au
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DistributedEnergyResourcesAPIService DistributedEnergyResourcesAPI service
type DistributedEnergyResourcesAPIService service

type ApiGetElectricityDERForServicePointRequest struct {
	ctx context.Context
	ApiService *DistributedEnergyResourcesAPIService
	servicePointId string
	xV *string
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiGetElectricityDERForServicePointRequest) XV(xV string) ApiGetElectricityDERForServicePointRequest {
	r.xV = &xV
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiGetElectricityDERForServicePointRequest) XMinV(xMinV string) ApiGetElectricityDERForServicePointRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiGetElectricityDERForServicePointRequest) XFapiInteractionId(xFapiInteractionId string) ApiGetElectricityDERForServicePointRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiGetElectricityDERForServicePointRequest) XFapiAuthDate(xFapiAuthDate string) ApiGetElectricityDERForServicePointRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiGetElectricityDERForServicePointRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiGetElectricityDERForServicePointRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiGetElectricityDERForServicePointRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiGetElectricityDERForServicePointRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiGetElectricityDERForServicePointRequest) Execute() (*EnergyDerDetailResponse, *http.Response, error) {
	return r.ApiService.GetElectricityDERForServicePointExecute(r)
}

/*
GetElectricityDERForServicePoint Get DER For Service Point

Obtain a list of DER data from a particular service point.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePointId The _servicePointId_ to obtain data for. _servicePointId_ values are returned by service point list endpoints. Note that it is not a _nationalMeteringId_.
 @return ApiGetElectricityDERForServicePointRequest
*/
func (a *DistributedEnergyResourcesAPIService) GetElectricityDERForServicePoint(ctx context.Context, servicePointId string) ApiGetElectricityDERForServicePointRequest {
	return ApiGetElectricityDERForServicePointRequest{
		ApiService: a,
		ctx: ctx,
		servicePointId: servicePointId,
	}
}

// Execute executes the request
//  @return EnergyDerDetailResponse
func (a *DistributedEnergyResourcesAPIService) GetElectricityDERForServicePointExecute(r ApiGetElectricityDERForServicePointRequest) (*EnergyDerDetailResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyDerDetailResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributedEnergyResourcesAPIService.GetElectricityDERForServicePoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/electricity/servicepoints/{servicePointId}/der"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePointId"+"}", url.PathEscape(parameterValueToString(r.servicePointId, "servicePointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListElectricityDERBulkRequest struct {
	ctx context.Context
	ApiService *DistributedEnergyResourcesAPIService
	xV *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListElectricityDERBulkRequest) XV(xV string) ApiListElectricityDERBulkRequest {
	r.xV = &xV
	return r
}

// Page of results to request (standard pagination).
func (r ApiListElectricityDERBulkRequest) Page(page int32) ApiListElectricityDERBulkRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListElectricityDERBulkRequest) PageSize(pageSize int32) ApiListElectricityDERBulkRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListElectricityDERBulkRequest) XMinV(xMinV string) ApiListElectricityDERBulkRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListElectricityDERBulkRequest) XFapiInteractionId(xFapiInteractionId string) ApiListElectricityDERBulkRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListElectricityDERBulkRequest) XFapiAuthDate(xFapiAuthDate string) ApiListElectricityDERBulkRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListElectricityDERBulkRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListElectricityDERBulkRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListElectricityDERBulkRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListElectricityDERBulkRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListElectricityDERBulkRequest) Execute() (*EnergyDerListResponse, *http.Response, error) {
	return r.ApiService.ListElectricityDERBulkExecute(r)
}

/*
ListElectricityDERBulk Get Bulk DER

Obtain DER data for all service points associated with the customer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListElectricityDERBulkRequest
*/
func (a *DistributedEnergyResourcesAPIService) ListElectricityDERBulk(ctx context.Context) ApiListElectricityDERBulkRequest {
	return ApiListElectricityDERBulkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyDerListResponse
func (a *DistributedEnergyResourcesAPIService) ListElectricityDERBulkExecute(r ApiListElectricityDERBulkRequest) (*EnergyDerListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyDerListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributedEnergyResourcesAPIService.ListElectricityDERBulk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/electricity/servicepoints/der"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListElectricityDERForSpecificServicePointsRequest struct {
	ctx context.Context
	ApiService *DistributedEnergyResourcesAPIService
	xV *string
	requestServicePointIdListV1 *RequestServicePointIdListV1
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListElectricityDERForSpecificServicePointsRequest) XV(xV string) ApiListElectricityDERForSpecificServicePointsRequest {
	r.xV = &xV
	return r
}

// Request payload containing a list of _servicePointId_ values to obtain data for.
func (r ApiListElectricityDERForSpecificServicePointsRequest) RequestServicePointIdListV1(requestServicePointIdListV1 RequestServicePointIdListV1) ApiListElectricityDERForSpecificServicePointsRequest {
	r.requestServicePointIdListV1 = &requestServicePointIdListV1
	return r
}

// Page of results to request (standard pagination).
func (r ApiListElectricityDERForSpecificServicePointsRequest) Page(page int32) ApiListElectricityDERForSpecificServicePointsRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListElectricityDERForSpecificServicePointsRequest) PageSize(pageSize int32) ApiListElectricityDERForSpecificServicePointsRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListElectricityDERForSpecificServicePointsRequest) XMinV(xMinV string) ApiListElectricityDERForSpecificServicePointsRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListElectricityDERForSpecificServicePointsRequest) XFapiInteractionId(xFapiInteractionId string) ApiListElectricityDERForSpecificServicePointsRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListElectricityDERForSpecificServicePointsRequest) XFapiAuthDate(xFapiAuthDate string) ApiListElectricityDERForSpecificServicePointsRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListElectricityDERForSpecificServicePointsRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListElectricityDERForSpecificServicePointsRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListElectricityDERForSpecificServicePointsRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListElectricityDERForSpecificServicePointsRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListElectricityDERForSpecificServicePointsRequest) Execute() (*EnergyDerListResponse, *http.Response, error) {
	return r.ApiService.ListElectricityDERForSpecificServicePointsExecute(r)
}

/*
ListElectricityDERForSpecificServicePoints Get DER For Specific Service Points

Obtain DER data for a specific set of service points.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListElectricityDERForSpecificServicePointsRequest
*/
func (a *DistributedEnergyResourcesAPIService) ListElectricityDERForSpecificServicePoints(ctx context.Context) ApiListElectricityDERForSpecificServicePointsRequest {
	return ApiListElectricityDERForSpecificServicePointsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyDerListResponse
func (a *DistributedEnergyResourcesAPIService) ListElectricityDERForSpecificServicePointsExecute(r ApiListElectricityDERForSpecificServicePointsRequest) (*EnergyDerListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyDerListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributedEnergyResourcesAPIService.ListElectricityDERForSpecificServicePoints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/electricity/servicepoints/der"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}
	if r.requestServicePointIdListV1 == nil {
		return localVarReturnValue, nil, reportError("requestServicePointIdListV1 is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	// body params
	localVarPostBody = r.requestServicePointIdListV1
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
