/*
CDR Energy API

Specifications for resource endpoints applicable to data holders in the Energy sector.

API version: 1.34.1
Contact: contact@dsb.gov.au
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ElectricityUsageAPIService ElectricityUsageAPI service
type ElectricityUsageAPIService service

type ApiGetElectricityServicePointUsageRequest struct {
	ctx context.Context
	ApiService *ElectricityUsageAPIService
	servicePointId string
	xV *string
	oldestDate *string
	newestDate *string
	intervalReads *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiGetElectricityServicePointUsageRequest) XV(xV string) ApiGetElectricityServicePointUsageRequest {
	r.xV = &xV
	return r
}

// Constrain the request to records with effective date at or after this date. If absent defaults to _newest-date_ minus 24 months. Format is aligned to DateString common type.
func (r ApiGetElectricityServicePointUsageRequest) OldestDate(oldestDate string) ApiGetElectricityServicePointUsageRequest {
	r.oldestDate = &oldestDate
	return r
}

// Constrain the request to records with effective date at or before this date. If absent defaults to current date. Format is aligned to DateString common type.
func (r ApiGetElectricityServicePointUsageRequest) NewestDate(newestDate string) ApiGetElectricityServicePointUsageRequest {
	r.newestDate = &newestDate
	return r
}

// Type of interval reads. Any one of the valid values for this field can be supplied. If absent defaults to &#x60;NONE&#x60;.
func (r ApiGetElectricityServicePointUsageRequest) IntervalReads(intervalReads string) ApiGetElectricityServicePointUsageRequest {
	r.intervalReads = &intervalReads
	return r
}

// Page of results to request (standard pagination).
func (r ApiGetElectricityServicePointUsageRequest) Page(page int32) ApiGetElectricityServicePointUsageRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiGetElectricityServicePointUsageRequest) PageSize(pageSize int32) ApiGetElectricityServicePointUsageRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiGetElectricityServicePointUsageRequest) XMinV(xMinV string) ApiGetElectricityServicePointUsageRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiGetElectricityServicePointUsageRequest) XFapiInteractionId(xFapiInteractionId string) ApiGetElectricityServicePointUsageRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiGetElectricityServicePointUsageRequest) XFapiAuthDate(xFapiAuthDate string) ApiGetElectricityServicePointUsageRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiGetElectricityServicePointUsageRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiGetElectricityServicePointUsageRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiGetElectricityServicePointUsageRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiGetElectricityServicePointUsageRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiGetElectricityServicePointUsageRequest) Execute() (*EnergyUsageListResponse, *http.Response, error) {
	return r.ApiService.GetElectricityServicePointUsageExecute(r)
}

/*
GetElectricityServicePointUsage Get Usage For Service Point

Obtain a list of electricity usage data from a particular service point.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePointId The _servicePointId_ to obtain data for. _servicePointId_ values are returned by service point list endpoints. Note that it is not a _nationalMeteringId_.
 @return ApiGetElectricityServicePointUsageRequest
*/
func (a *ElectricityUsageAPIService) GetElectricityServicePointUsage(ctx context.Context, servicePointId string) ApiGetElectricityServicePointUsageRequest {
	return ApiGetElectricityServicePointUsageRequest{
		ApiService: a,
		ctx: ctx,
		servicePointId: servicePointId,
	}
}

// Execute executes the request
//  @return EnergyUsageListResponse
func (a *ElectricityUsageAPIService) GetElectricityServicePointUsageExecute(r ApiGetElectricityServicePointUsageRequest) (*EnergyUsageListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyUsageListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectricityUsageAPIService.GetElectricityServicePointUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/electricity/servicepoints/{servicePointId}/usage"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePointId"+"}", url.PathEscape(parameterValueToString(r.servicePointId, "servicePointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.oldestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-date", r.oldestDate, "form", "")
	}
	if r.newestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-date", r.newestDate, "form", "")
	}
	if r.intervalReads != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "interval-reads", r.intervalReads, "form", "")
	} else {
		var defaultValue string = "NONE"
		r.intervalReads = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListElectricityUsageBulkRequest struct {
	ctx context.Context
	ApiService *ElectricityUsageAPIService
	xV *string
	intervalReads *string
	oldestDate *string
	newestDate *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListElectricityUsageBulkRequest) XV(xV string) ApiListElectricityUsageBulkRequest {
	r.xV = &xV
	return r
}

// Type of interval reads. Any one of the valid values for this field can be supplied. If absent defaults to &#x60;NONE&#x60;.
func (r ApiListElectricityUsageBulkRequest) IntervalReads(intervalReads string) ApiListElectricityUsageBulkRequest {
	r.intervalReads = &intervalReads
	return r
}

// Constrain the request to records with effective date at or after this date. If absent defaults to _newest-date_ minus 24 months. Format is aligned to DateString common type.
func (r ApiListElectricityUsageBulkRequest) OldestDate(oldestDate string) ApiListElectricityUsageBulkRequest {
	r.oldestDate = &oldestDate
	return r
}

// Constrain the request to records with effective date at or before this date. If absent defaults to current date. Format is aligned to DateString common type.
func (r ApiListElectricityUsageBulkRequest) NewestDate(newestDate string) ApiListElectricityUsageBulkRequest {
	r.newestDate = &newestDate
	return r
}

// Page of results to request (standard pagination).
func (r ApiListElectricityUsageBulkRequest) Page(page int32) ApiListElectricityUsageBulkRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListElectricityUsageBulkRequest) PageSize(pageSize int32) ApiListElectricityUsageBulkRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListElectricityUsageBulkRequest) XMinV(xMinV string) ApiListElectricityUsageBulkRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListElectricityUsageBulkRequest) XFapiInteractionId(xFapiInteractionId string) ApiListElectricityUsageBulkRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListElectricityUsageBulkRequest) XFapiAuthDate(xFapiAuthDate string) ApiListElectricityUsageBulkRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListElectricityUsageBulkRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListElectricityUsageBulkRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListElectricityUsageBulkRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListElectricityUsageBulkRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListElectricityUsageBulkRequest) Execute() (*EnergyUsageListResponse, *http.Response, error) {
	return r.ApiService.ListElectricityUsageBulkExecute(r)
}

/*
ListElectricityUsageBulk Get Bulk Usage

Obtain usage data for all service points associated with the customer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListElectricityUsageBulkRequest
*/
func (a *ElectricityUsageAPIService) ListElectricityUsageBulk(ctx context.Context) ApiListElectricityUsageBulkRequest {
	return ApiListElectricityUsageBulkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyUsageListResponse
func (a *ElectricityUsageAPIService) ListElectricityUsageBulkExecute(r ApiListElectricityUsageBulkRequest) (*EnergyUsageListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyUsageListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectricityUsageAPIService.ListElectricityUsageBulk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/electricity/servicepoints/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}

	if r.intervalReads != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "interval-reads", r.intervalReads, "form", "")
	} else {
		var defaultValue string = "NONE"
		r.intervalReads = &defaultValue
	}
	if r.oldestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-date", r.oldestDate, "form", "")
	}
	if r.newestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-date", r.newestDate, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListElectricityUsageForServicePointsRequest struct {
	ctx context.Context
	ApiService *ElectricityUsageAPIService
	xV *string
	requestServicePointIdListV1 *RequestServicePointIdListV1
	oldestDate *string
	newestDate *string
	intervalReads *string
	page *int32
	pageSize *int32
	xMinV *string
	xFapiInteractionId *string
	xFapiAuthDate *string
	xFapiCustomerIpAddress *string
	xCdsClientHeaders *string
}

// Version of the API endpoint requested by the client. Must be set to a positive integer. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If the value of [_x-min-v_](#request-headers) is equal to or higher than the value of [_x-v_](#request-headers) then the [_x-min-v_](#request-headers) header should be treated as absent. If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;. See [HTTP Headers](#request-headers).
func (r ApiListElectricityUsageForServicePointsRequest) XV(xV string) ApiListElectricityUsageForServicePointsRequest {
	r.xV = &xV
	return r
}

// Request payload containing a list of _servicePointId_ values to obtain data for.
func (r ApiListElectricityUsageForServicePointsRequest) RequestServicePointIdListV1(requestServicePointIdListV1 RequestServicePointIdListV1) ApiListElectricityUsageForServicePointsRequest {
	r.requestServicePointIdListV1 = &requestServicePointIdListV1
	return r
}

// Constrain the request to records with effective date at or after this date. If absent defaults to _newest-date_ minus 24 months. Format is aligned to DateString common type.
func (r ApiListElectricityUsageForServicePointsRequest) OldestDate(oldestDate string) ApiListElectricityUsageForServicePointsRequest {
	r.oldestDate = &oldestDate
	return r
}

// Constrain the request to records with effective date at or before this date. If absent defaults to current date. Format is aligned to DateString common type.
func (r ApiListElectricityUsageForServicePointsRequest) NewestDate(newestDate string) ApiListElectricityUsageForServicePointsRequest {
	r.newestDate = &newestDate
	return r
}

// Type of interval reads. Any one of the valid values for this field can be supplied. If absent defaults to &#x60;NONE&#x60;.
func (r ApiListElectricityUsageForServicePointsRequest) IntervalReads(intervalReads string) ApiListElectricityUsageForServicePointsRequest {
	r.intervalReads = &intervalReads
	return r
}

// Page of results to request (standard pagination).
func (r ApiListElectricityUsageForServicePointsRequest) Page(page int32) ApiListElectricityUsageForServicePointsRequest {
	r.page = &page
	return r
}

// Page size to request. Default is 25 (standard pagination).
func (r ApiListElectricityUsageForServicePointsRequest) PageSize(pageSize int32) ApiListElectricityUsageForServicePointsRequest {
	r.pageSize = &pageSize
	return r
}

// Minimum version of the API endpoint requested by the client. Must be set to a positive integer if provided. The endpoint should respond with the highest supported version between [_x-min-v_](#request-headers) and [_x-v_](#request-headers). If all versions requested are not supported then the endpoint **MUST** respond with a &#x60;406 Not Acceptable&#x60;.
func (r ApiListElectricityUsageForServicePointsRequest) XMinV(xMinV string) ApiListElectricityUsageForServicePointsRequest {
	r.xMinV = &xMinV
	return r
}

// An **[[RFC4122]](#nref-RFC4122)** UUID used as a correlation id. If provided, the data holder **MUST** play back this value in the _x-fapi-interaction-id_ response header. If not provided a **[[RFC4122]](#nref-RFC4122)** UUID value is required to be provided in the response header to track the interaction.
func (r ApiListElectricityUsageForServicePointsRequest) XFapiInteractionId(xFapiInteractionId string) ApiListElectricityUsageForServicePointsRequest {
	r.xFapiInteractionId = &xFapiInteractionId
	return r
}

// The time when the customer last logged in to the Data Recipient Software Product as described in **[[FAPI-1.0-Baseline]](#nref-FAPI-1-0-Baseline)**. Required for all resource calls (customer present and unattended). Not required for unauthenticated calls.
func (r ApiListElectricityUsageForServicePointsRequest) XFapiAuthDate(xFapiAuthDate string) ApiListElectricityUsageForServicePointsRequest {
	r.xFapiAuthDate = &xFapiAuthDate
	return r
}

// The customer&#39;s original IP address if the customer is currently logged in to the data recipient. The presence of this header indicates that the API is being called in a customer present context. Not to be included for unauthenticated calls.
func (r ApiListElectricityUsageForServicePointsRequest) XFapiCustomerIpAddress(xFapiCustomerIpAddress string) ApiListElectricityUsageForServicePointsRequest {
	r.xFapiCustomerIpAddress = &xFapiCustomerIpAddress
	return r
}

// The customer&#39;s original standard http headers [Base64](#common-field-types) encoded, including the original User-Agent header, if the customer is currently logged in to the data recipient. Mandatory for customer present calls. Not required for unattended or unauthenticated calls.
func (r ApiListElectricityUsageForServicePointsRequest) XCdsClientHeaders(xCdsClientHeaders string) ApiListElectricityUsageForServicePointsRequest {
	r.xCdsClientHeaders = &xCdsClientHeaders
	return r
}

func (r ApiListElectricityUsageForServicePointsRequest) Execute() (*EnergyUsageListResponse, *http.Response, error) {
	return r.ApiService.ListElectricityUsageForServicePointsExecute(r)
}

/*
ListElectricityUsageForServicePoints Get Usage For Specific Service Points

Obtain the electricity usage data for a specific set of service points.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListElectricityUsageForServicePointsRequest
*/
func (a *ElectricityUsageAPIService) ListElectricityUsageForServicePoints(ctx context.Context) ApiListElectricityUsageForServicePointsRequest {
	return ApiListElectricityUsageForServicePointsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EnergyUsageListResponse
func (a *ElectricityUsageAPIService) ListElectricityUsageForServicePointsExecute(r ApiListElectricityUsageForServicePointsRequest) (*EnergyUsageListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnergyUsageListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectricityUsageAPIService.ListElectricityUsageForServicePoints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/energy/electricity/servicepoints/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xV == nil {
		return localVarReturnValue, nil, reportError("xV is required and must be specified")
	}
	if r.requestServicePointIdListV1 == nil {
		return localVarReturnValue, nil, reportError("requestServicePointIdListV1 is required and must be specified")
	}

	if r.oldestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldest-date", r.oldestDate, "form", "")
	}
	if r.newestDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "newest-date", r.newestDate, "form", "")
	}
	if r.intervalReads != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "interval-reads", r.intervalReads, "form", "")
	} else {
		var defaultValue string = "NONE"
		r.intervalReads = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page-size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-v", r.xV, "simple", "")
	if r.xMinV != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-min-v", r.xMinV, "simple", "")
	}
	if r.xFapiInteractionId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-interaction-id", r.xFapiInteractionId, "simple", "")
	}
	if r.xFapiAuthDate != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-auth-date", r.xFapiAuthDate, "simple", "")
	}
	if r.xFapiCustomerIpAddress != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-fapi-customer-ip-address", r.xFapiCustomerIpAddress, "simple", "")
	}
	if r.xCdsClientHeaders != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-cds-client-headers", r.xCdsClientHeaders, "simple", "")
	}
	// body params
	localVarPostBody = r.requestServicePointIdListV1
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 406 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ResponseErrorListV2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
